@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Gothic&family=Oswald&family=Rum+Raisin&family=Ubuntu&display=swap");
:root {
  overflow-x: hidden !important;
}

@font-face {
  font-family: "LeagueGothic";
  src: url("../public/fonts/LeagueGothic-Regular-VariableFont_wdth.ttf");
}
@font-face {
  font-family: "RumRaisin";
  src: url("../public/fonts/RumRaisin-Regular.ttf");
}

* {
  scrollbar-width: 5px;
  scrollbar-color: #398ab9 white;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: #398ab9;
}
@layer components {
  .font-BeasNeue {
    font-family: "Bebas Neue", cursive;
  }
  .font-Oswald {
    font-family: "Oswald", sans-serif;
  }
  .font-RumRaisin {
    font-family: "Rum Raisin", sans-serif;
  }
  .font-Ubuntu {
    font-family: "Ubuntu", sans-serif;
  }
}
